<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.BoardDao">

<!-- type 과 map을 잘 구분해야한다  -->
<!--  #을 써야함 -->
<!-- mapping 할 것만 mapping, 그대로인 것은 굳이 써주지 않아도 된다 -->

	<resultMap type="Board" id="boardMap">
		<result column="id" property="id" />
		<result column="writer" property="writer" />
		<result column="title" property="title" />
		<result column="ocntent" property="content" />
		<result column="view_cnt" property="viewCnt" />
		<result column="reg_date" property="regDate" />
	</resultMap>

	<!-- id 에 메소드명(DAO랑 맞추자), typeAlias 사용, resultType 사용 -->
	<select id="selectAll" resultType="Board">
		<!-- SELECT * FROM board; -->
		SELECT id, content, writer, title, view_cnt as viewCnt,
		date_format(reg_date, '%y-%m-%d') as regDate
		FROM board;
	</select>

	<!-- parameterType은 #{}에 들어오는 인자 타입을 지정 -->
	<select id="selectOne" resultMap="boardMap" parameterType="int">
		SELECT id, content, writer, title, view_cnt, reg_date
		FROM board
		WHERE
		id = #{id}; <!-- 여기에 parameter가 들어감 -->
	</select>
	
	<!-- Board를 받아서 getTitle, getWriter 등으로 받아오겠다는 뜻! -->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (title, writer, content)
		VALUES (#{title}, #{writer}, #{content});
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE id = #{id};
	</delete>
	
	<update id="updateViewCnt" parameterType="int">
	UPDATE board
	SET view_cnt = view_cnt + 1
	WHERE id = #{id};
	</update>
	
	<!-- getter랑 맞춰! -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET title = #{title}, content = #{content}, reg_date = now()
		WHERE id = #{id};
	</update>

</mapper>